name: Build Images  # 构建镜像

on:
  workflow_dispatch:  # 手动触发

env:
  MY_REGISTRY: "${{ secrets.MY_REGISTRY }}"  # 镜像仓库地址
  MY_NAMESPACE: "${{ secrets.MY_NAMESPACE }}"  # 镜像命名空间
  MY_REGISTRY_USER: "${{ secrets.MY_REGISTRY_USER }}"  # 镜像仓库用户名
  MY_REGISTRY_PASSWORD: "${{ secrets.MY_REGISTRY_PASSWORD }}"  # 镜像仓库密码

jobs:
  build:
    name: Build images and Push Images 
    runs-on: ubuntu-latest  # 使用最新的 Ubuntu 运行器
    steps:
    - name: Install yq
      run: | 
        sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
        sudo chmod +x /usr/bin/yq

    - name: Checkout Code
      uses: actions/checkout@v4  # 检出代码仓库

    - name: Read setting.yml
      run: |
        SETTINGS_FILE="setting.yml"
        if [ -f "$SETTINGS_FILE" ]; then
          enable_build_images=$(yq e '.["build-images"].enable' "$SETTINGS_FILE" || echo "false")
          if [ "$enable_build_images" != "true" ]; then
            echo "build-images未启用，跳过后续步骤。"
            echo "enable_build_images=false" >> $GITHUB_ENV
          else
            echo "enable_build_images=true" >> $GITHUB_ENV
            builders=$(yq e '.["build-images"].builders | join(",")' "$SETTINGS_FILE")
            echo "builders=$builders" >> $GITHUB_ENV
          fi
        else
          echo "未找到 settings.yml 文件，跳过后续步骤。"
          echo "enable_build_images=false" >> $GITHUB_ENV
        fi

    - name: Docker Setup Buildx
      if: env.enable_build_images == 'true'
      uses: docker/setup-buildx-action@v3  # 设置 Docker Buildx

    - name: Read Builders list, build, and push images to the target registry
      if: env.enable_build_images == 'true'
      run: |
        docker login -u $MY_REGISTRY_USER -p $MY_REGISTRY_PASSWORD $MY_REGISTRY
      
        IFS=',' read -r -a builders <<< "$builders"  # 读取环境变量中的构建器数组

        # 处理构建器数组中的每一个构建器
        for builder in "${builders[@]}"; do
            echo "============================================================================="
            echo "处理构建器: $builder"
            
            # 解析构建器名称中的各个部分
            repo=$(echo "$builder" | awk -F':' '{print $1}')
            tag=$(echo "$builder" | awk -F':' '{if (NF>1) print $2; else print "latest"}')
      
            echo "解析出的仓库: $repo"
            echo "解析出的标签: $tag"
            echo "----------------------------------------------------"
            
            target_image="$MY_REGISTRY/$MY_NAMESPACE/$repo:$tag"  # 目标镜像地址
            echo "目标镜像: $target_image"
            echo "----------------------------------------------------"

            
            echo "Docker 构建 $builder"
            docker build -t $target_image build/$repo  # 构建镜像
            echo "----------------------------------------------------"
            
            echo "Docker 推送 $target_image"
            docker push $target_image  # 推送镜像到目标仓库            
        done
        
        echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
        echo "总共处理了 ${#builders[@]} 个镜像"
