name: Specify Images

on:
  workflow_dispatch:
  push:
    branches: [ main ]

env:
  MY_REGISTRY: "${{ secrets.MY_REGISTRY }}"
  MY_REGISTRY_USER: "${{ secrets.MY_REGISTRY_USER }}"
  MY_REGISTRY_PASSWORD: "${{ secrets.MY_REGISTRY_PASSWORD }}"

jobs:
  build:
    name: Pull
    runs-on: ubuntu-latest
    steps:
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Read configuration, build, and push images to the target registry
      run: |
        docker login -u $MY_REGISTRY_USER -p $MY_REGISTRY_PASSWORD $MY_REGISTRY
        
        while IFS= read -r line || [ -n "$line" ]; do
            echo "Reading line: $line"
            # 忽略空行与注释
            [[ -z "$line" ]] && continue
            if echo "$line" | grep -q '^\s*#'; then
                continue
            fi
            
            # 获取镜像的完整名称，例如 kasmweb/nginx:1.25.3（命名空间/镜像名:版本号）
            image=$(echo "$line" | awk '{print $NF}')
            echo "Original Image: $image"

            # 拆分出 registry, namespace, repository, tag
            registry=$(echo "$image" | awk -F'/' '{print $1}')
            repository_with_tag=$(echo "$image" | awk -F'/' '{print $NF}')
            namespace_and_repo=$(echo "$image" | awk -F'/' '{if (NF==3) print $2"/"$3; else if (NF==2) print $1"/"$2; else print ""}')
            
            namespace=$(echo "$namespace_and_repo" | awk -F'/' '{print $1}')
            repo=$(echo "$repository_with_tag" | awk -F':' '{print $1}')
            tag=$(echo "$repository_with_tag" | awk -F':' '{if (NF>1) print $2; else print "latest"}')

            echo "Parsed Registry: $registry"
            echo "Parsed Namespace: $namespace"
            echo "Parsed Repository: $repo"
            echo "Parsed Tag: $tag"
            
            # 目标地址
            target_image="$MY_REGISTRY/$namespace/$repo:$tag"
            echo "Target Image: $target_image"

            # 获取源镜像的 SHA 值
            source_digest=$(docker inspect --format='{{index .RepoDigests 0}}' "$image" | awk -F'@' '{print $2}')
            echo "Source Image Digest: $source_digest"

            # 使用 Docker Registry V2 API 判断镜像是否存在以及 SHA 值是否匹配
            if [ -z "$namespace" ]; then
              manifest_url="https://$MY_REGISTRY/v2/$repo/manifests/$tag"
            else
              manifest_url="https://$MY_REGISTRY/v2/$namespace/$repo/manifests/$tag"
            fi

            response=$(curl -s -o /dev/null -w "%{http_code}" -u $MY_REGISTRY_USER:$MY_REGISTRY_PASSWORD "$manifest_url")
            
            if [ "$response" -eq 200 ]; then
                target_digest=$(curl -s -u $MY_REGISTRY_USER:$MY_REGISTRY_PASSWORD "$manifest_url" | jq -r '.config.digest')
                if [ "$source_digest" == "$target_digest" ]; then
                    echo "Image $target_image already exists in $MY_REGISTRY with matching digest."
                    continue  # 如果镜像已经存在且 SHA 匹配，跳过该镜像
                else
                    echo "Image $target_image exists but digests do not match. Proceeding to pull and push."
                fi
            else
                echo "Image $target_image does not exist in $MY_REGISTRY, proceeding to pull and push."
            fi

            echo "Docker pull $image"
            docker pull $image
            
            echo "Docker tag $image $target_image"
            docker tag $image $target_image
            
            echo "Docker push $target_image"
            docker push $target_image
        done < images.conf
